* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root > div > div {
  height: 100vh !important;
}

body {
  background-color: #111;
}
